/* 
** Dimensions for media queries
** (max-width: 767px) for phones
** (min-width: 768px) and (max-width: 1023) for tablets
** (min-width: 1024px) for desktop
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  font-family: var(--font-family);
  color: var(--color-text-1);
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 1rem 6rem;
}

@media screen and (max-width: 767px) {
  .section__padding {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section__padding {
    padding: 1rem 4rem;
  }
}

@media screen and (min-width: 1024px) {
  
}
