@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --color-bg-1: #FFFFFF;
  --color-bg-2: #EEEFF4;
  --color-text-1: #18191F;
  --color-text-2: #D9DBE1;
  --color-icons: #000000;
  --color-icon-container: #F4F5F7;
  --color-footer: #0B0D17;
}